@charset "UTF-8";

/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

/*font-family: 'Roboto Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/*font-family: 'Roboto Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: var(--cor5); 
    box-sizing: border-box;
	font-weight: normal;
    transition: all .2s linear;
}

html{
    scroll-behavior: smooth;
}

:root{
    /*Paleta de Cores*/
    --cor0: #8A75DB;
    --cor1: #776CBA;
    --cor3: #44B8F3;
    --cor4: #FF7F4C;
    --cor5: #383D4B;
    --cor6: #fbece5;
	--cor7: #f4d1c1;
	--cor8: #C5B5F1;
	--cor9: #c5b5f1;

    /*Fontes*/
    --font-padrao: 'Roboto', sans-serif;
    --font-titulo: 'Roboto Condensed', sans-serif;
    --font-titulo2: 'Roboto Condensed', sans-serif;
    --font-subtitulo: 'Roboto', sans-serif;
    --font-textura: 'Roboto Mono', monospace;    
}



/* scroll bar */

html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: #fff;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #333;
  }

/* HEADER */

header{
    background-color:var(--cor3);
    width: 100%;
    display: flex;
    justify-content: space-between; /*  para deixar um item na esquerda (logo) e o outro na direita (lista), fazendo assim o alinhamento horinzontal */
    align-items: center; /*  para fazer o alinhamento vertical */
    padding: 20px 50px;
    border-bottom: 1px solid #333;
}

header nav{
    display: flex;  /* fazendo isso, fazemos com que os 3 flex-basis, flex-shrink, flex-grow, fiquem por padrao e portanto alinhanndo eles em linha */
}

header li a{
    background-color:#fff;
    padding: 10px;
    border-radius: 5%;
    color: rgb(2, 2, 2);
    font-family: var(--font-titulo);
    margin-right: 10px;
}

header li a:hover {
	background: var(--cor3);
    color: #333;
    border: 1px solid #333;
    font-weight: bold;
}

header li a:active {
	border-radius: 3px;
	background: var(--cor3);
    color: #fff;
    border: 1px solid #333;
    font-weight: bold;
    font-family: var(--font-titulo);

	/*opacity: 0.7;*/
}

header h1{
    background: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: var(--font-titulo);
    color: var(--cor3);
}

header .nav-2{
    display: none;
}

/* header for responsive */

@media (max-width:750px){
    header .nav-2{
        display: flex;
    }
    header nav{
        display: none;
    }
}

/* CSS - REDES SOCIAIS - MODAL */

.popup-container{
    position: fixed;
    top: -120%; left: 0px;
    z-index: 1000;
    background: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: var(--font-titulo2);
}

.popup-container.toggle{
    top: 0%;
}

.popup-container .popup{
    background: #fff;
    text-align: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    border-radius: 5px;
    position: relative;
}

.popup-container .popup h3{
    color: var(--cor3);
    font-size: 25px;
    padding: 20px 40px;
}


.popup-container .popup .btn{
    margin: 30px;
    font-size: 20px;
    height: 40px;
    width: 150px;
}

.popup-container .popup input[type="radio"]{
    display: none;
}

.popup-container .popup .icons{
    padding: 10px;
}

.popup-container .popup .icons label{
    font-size: 50px;
    cursor: pointer;
    opacity: .4;
    margin: 0 10px;
    
}

.popup-container .popup .icons:hover label{
    opacity: .2;
}

.popup-container .popup #btn1:checked ~ .icons label:nth-child(1),
.popup-container .popup #btn2:checked ~ .icons label:nth-child(2),
.popup-container .popup #btn3:checked ~ .icons label:nth-child(3),
.popup-container .popup #btn4:checked ~ .icons label:nth-child(4),
.popup-container .popup #btn5:checked ~ .icons label:nth-child(5),
.popup-container .popup .icons label:hover{
    opacity: 1;
    font-size: 60px;
    color: var(--cor3);
}

.popup-container .popup .close{
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    border: 4px solid var(--cor3);
    width: 40px;
    height: 40px;
    line-height: 30px;
    cursor: pointer;
    color: #fff;
    background: #333;
    font-size: 20px;
}

.popup-container .popup h3{
    font-family: var(--font-titulo2);
}

.close:hover{
    transform: rotate(90deg);
}



/* SECTION 2 */

/* home */

@-webkit-keyframes floating {
    0%,
    100% {
      -webkit-transform: translateY(0rem);
      transform: translateY(0rem);
    }
    50% {
      -webkit-transform: translateY(-4rem);
      transform: translateY(-4rem);
    }
  }
  
  @keyframes floating {
    0%,
    100% {
      -webkit-transform: translateY(0rem);
      transform: translateY(0rem);
    }
    50% {
      -webkit-transform: translateY(-4rem);
      transform: translateY(-4rem);
    }
  }
  

.home {
    min-height: 60vh;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: var(--cor3);
  }
  
  .home .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    margin-top: 5rem;
  }
  
  .home .image img {
    width: 100%;
    -webkit-animation: floating 4s linear infinite;
    animation: floating 4s linear infinite;
  }
  
  .home .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    display: flex;
    align-items: center;
    margin-bottom: 450px;
    margin-left: 100px;
  }
  
  .home .content h3 {
    font-size: 6rem;
  }
  
  .home .content p {
    font-size: 2rem;
    padding: 1rem 0;
    line-height: 1;
  }

  .home .content .text {
      font-size: 2.5rem;
      font-family: var(--font-titulo);
      z-index: 1;
  }

  /* span customization */

  .home .content .text{
    position: relative;
}

  .home .content .text::before{
    content:'';
    position: absolute;
    bottom: .3rem; left:0;
    height: 100%;
    width: 100%;
    background: var(--cor6);
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
    z-index: -1;
}



/* section 2 */

.Sobre{
    background:var(--cor5);
    height: 920px;
    width: 100%;
    transition: all 0.3s ease;
}

.Sobre .container-sobre{
    display: flex;
    padding: 10px;
    transition: all 0.3s ease;
}

.Sobre .container-sobre .column{
    flex-direction: column;
    padding: 10px;
    font-family: var(--font-subtitulo);
    font-size: 25px;
    transition: all 0.3s ease;
}


.Sobre .container-sobre .column .text span{
    transition: all 0.3s ease;
    font-size: 35px;
    height: 10px;
    color: var(--cor3);
}

.Sobre h2{
    color:var(--cor3);
    font-size: 35px;
    font-family: var(--font-titulo);
    text-align: center;
    padding-top: 10px;

}

.Sobre .text{
    color: var(--cor3)n;
    font-size: 25px;
    font-family: var(--font-titulo);
}




.Sobre p{
    color:#fff;
    font-size: 20px;

}

.Sobre a{
    background: var(--cor3);
    width: 250px;
    font-size: 20px;
    padding: 10px;
    font-family: var(--font-titulo);
    opacity: 0.9;
    border-radius: 5px;

}

.Sobre a:hover{
    letter-spacing: 1.1px;
}

hr{
    width: 400px;
    margin: 0 auto;
}

.Projetos{
    background:#525663;
    height: 937px;
    width: 100%;
}

.Projetos .banner-area{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: var(--font-titulo);
    color: #fff;
    font-size: 4.5rem;
    margin-top: 100px;
}