.home-content {
  padding: 1rem;
  margin-top: 100px;
}

.home-content h1 {
  font-size: 45px;
  color: var(--white-100);
}

.home-content h2 {
  font-size: 22px;
  font-weight: 400;
  color: var(--gray-100);
}

.home-content p {
  font-size: 20px;
  color: var(--blue-200);
}

.span {
  color: var(--blue-200);
}

.main-wrapper.home {
  justify-content: center;
  gap: 2rem;
}

.home .home-image{
  width: 300px;
  height: 300px;
}

.home .home-image img{
  width: 100%;
  height: 100%;
  border-top-left-radius : 30%;
  border-top-right-radius : 30%;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  object-fit: cover;
}

.home-buttons{
  display: flex;
  gap: 1rem;
}

.image-perfil {
  width: 500px;
  margin-top: 50px;
}

.btn-download {
  text-decoration: none;
  border:none;
  outline: none;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--blue-300);
  color: var(--white-100);
  transition: 0.3s;
}

.btn-whats {
  text-decoration: none;
  border:none;
  outline: none;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: rgb(55, 148, 153);
  color: var(--white-100);
  transition: 0.3s;
}

.btn-whats:hover{
  background-color: rgb(25, 106, 112);
  color: var(--white-100);
}

.btn-download:hover{
  background-color: var(--blue-400);
  color: var(--white-100);
}

@media screen and (max-width: 1375px) {
  .main-wrapper.home {
    flex-direction: column;
    gap: 2rem;
  }

  .home-buttons{
    display: flex;
    flex-direction: column;
    gap: .1rem;
  }

  .home-content {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .home-content h1 {
    font-size: 35px;
  }
  
  .home-content h2 {
    font-size: 20px;
  }
  
  .home-content p {
    font-size: 16px;
  }
  
  .image-perfil {
    width: 400px;
    margin-top: 100px;
    order: 1;
    margin-bottom: 1rem;
  }

  .home-content {
    order: 2;
  }
  .btn-download, .btn-whats {
    width: 100%;
  }
}