.post-nao-encontrado {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: var(--blue-200);
  font-weight: 500;
  font-style: italic;
  margin: auto;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.post-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width: 80rem;
}

.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.post-titulo {
  text-align: center;
  font-size: 30px;
  color: var(--blue-200);
  font-weight: 500;
  font-style: italic;
  margin-top: 1rem;
}

.post-info {
  text-align: center;
  font-size: 1rem;
  color: white;
}

.post-texto {
  text-align: left;
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
  margin-left: 18rem;
  margin-right: 18rem;
}

.post-img-texto{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width: 80rem;
  margin-top: 1rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.post-footer {
  text-align: center;
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
  margin-left: 18rem;
  margin-right: 18rem;
}
